
@import "./components/mediaqueries";
@import "./components/variables";

*{
    margin: 0;
   
    padding: 0;
    box-sizing: border-box;
}

// estilos generales

.indexProductGrid{
    display: grid;
    min-height: 150vh;
    grid-template-areas:
    "header header"
    "main    main"
    "footer footer" ;
    grid-template-rows: 20% 40% 20% ;
    align-items: center;
    align-content: space-around;


    header{
        grid-area:header;
        z-index: 2;
       
    }

    main{
        grid-area:main;
        background-color: rgba(220, 221, 207, 0.651);
       
    }

    footer{
        grid-area:footer;
        margin-top: 3em;
        margin-left: 0.5em;
        background-color: $color-footer;
        max-height: 7em;
        .letraFooter
            {font-family: 'Bebas Neue', cursive;
            }
    }



    }

    /* menu horizantal */

    nav{
        display: flex;
        justify-content:space-evenly;
        background-color: darkblue;
        width: 100%;
        height: 80px;
        align-items: center
       ;
         ul{
        display: flex;
        flex-wrap: wrap;
        li  {
            display: inline-block;
            ;
            margin: 15px;
            font-size: 25px;

            a{
                text-decoration: none;
                font-family: 'Bebas Neue', cursive;
                color: rgb(66, 15, 184);
                background-color: rgb(41, 165, 107);
                border-radius: 10px;
                padding: 15px;
                 transition: .7s;&:hover{
                    color: rgb(255, 0, 0);
                    transform:scale(1.8) ;
                }
               
                
            }
         
        }
        
      
    }
    
    }


    /* mensaje lateral izquierdo en index */
.tk{
    width: 110px;
    color:white;
    position: absolute;
    background-color: rgb(55, 73, 172);
    margin-top: 200px;
    margin-left: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: groove;
    font-family: 'Bebas Neue', cursive;

}

/* h1 correspondiente a todas las paginas */
h1{
    font-family: 'Bebas Neue', cursive !important;
    margin-left: 5px;
    font-size: 45px;
}

/* imagen principal de index */
.compu{
    
    width: 90% ;
    margin-top: 100px;
    margin-left: 6em;
    margin-right: 4em;

}

/*estilos de box de la pagina productos
*/ 

 .mainproduct{
        margin-top: 1em;
    }

    .footerProduc{
        margin-top: 5em;
    }

    .headerProduct{margin-top:1em ;
                    margin-bottom: 7em;} 

  
     /* estilo del form de la pagina contactos */
.form{
    display: inline;
}

.saltoDePaginaForm{
    display: block;
}


/* contenedor padre e hijos de la pagina "productos" */

.conteinerProducts{
    width: 75%;
    margin: auto;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: fit-content;
    .caja {
        border: 5px solid rgb(221, 216, 216);
        width: 280px;
        height: 280px ;
        background-color: blue;
        margin:10px;
        padding: 0.3rem;
        text-align: center;
        color: white;
        font-size: 26px;
        font-family: 'Bebas Neue', cursive;
        border-radius: 30px;&:hover{
            box-shadow: rgb(211, 2, 211) 1px 1px 2px 2px; color:rgb(211, 2, 211) ;
            transform: scale(1.05, 1.05);}
                .imgProduc{

                    border-radius: 1em;
                    margin: auto;
                    margin-bottom: 0.5em;
                    display: block;
                    width: 5em;
                }
    
    }


}


/* subtitulo de la pagina "sobre nosotros" */
h3{
    margin-top: 70px;
}

/* texto de la pagina "sobre nosotros" */
.nosotros {

    margin-top: 50px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
   

}


@media screen and (max-width:814px)  {
    
    

    

    .headerGrid {
        margin-top: 6em;
    }
    
    nav{
        
        display: flex;
        flex-direction: column;
        height: 300px;
        
        ;
        width:fit-content ;
        margin: 0px;
        margin-bottom: 0px;
    }

    

    nav ul li{
        padding: 19px;
        width: 500px;
        height: 20px;

    }

    main{
        margin-top:1em;
    }

    a{
        font-size: 1em;
    }

   

    ul{
        padding: 15px;
      
    }

    .compu{
        margin-left: 1em;
        margin-top: 1px;
        width: 90%;
        
    }

    .footerGrid{

        margin-top: -20em;
        margin-left:1px ;
        width: 100%;
        max-height: 7em;
    }

/* box modeling pagina productos*/
    .mainproduct{
        margin-top: 1em;
    }

    .footerProduc{
        margin-top: 22em;
    }

    .headerProduct{margin-top:-18em ;
                    margin-bottom: 10em;}

    }